# ðŸ“¥ Insert Excel Sheets into SQL Using Pandas + executemany()

### Step 1: Import Libraries

In [ ]:
import pandas as pd 
import sqlite3

###  Step 2: Load Excel file with multiple sheets

In [30]:
excel_file = 'sample_sales_data.xlsx' 
xls = pd.read_excel(excel_file, sheet_name=None)

### Step 3: Connect to SQLite database (or create one)

In [35]:
conn = sqlite3.connect('excel_to_sql.db')
cursor = conn.cursor()

### Step 4: Loop through each sheet and Insert data

In [37]:
for raw_sheet_name, df in xls.items():
    sheet_name = raw_sheet_name.strip().replace(" ", "_")

### Step 4a: Create a Matching SQL Table

In [39]:
columns = ', '.join([f'"{col}" TEXT' for col in df.columns])
create_table_sql = f'CREATE TABLE IF NOT EXISTS "{sheet_name}" ({columns});'
cursor.execute(create_table_sql)

### Step 4b: Prepare Data for SQL

In [41]:
data = df.astype(str).values.tolist()

### Step 4c: Insert Data Using executemany()

In [47]:
placeholders = ', '.join(['?'] * len(df.columns))
insert_slq = f'INSERT INTO "{sheet_name}" VALUES ({placeholders});'
cursor.execute("PRAGMA busy_timeout = 5000;")
cursor.executemany(insert_sql, data)

### Step 5: View Tables in the Database

In [49]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in database:", tables)

Tables in database: [('Sales',), ('Inventory',), ('Employees',)]

### Step 6: Preview the Data from All Tables

In [51]:
for table in tables: 
    table_name = table[0]
    df = pd.read_sql_query(f'SELECT * FROM "{table_name}"', conn)
    print(df.head())

         Date     Product Quantity    Price
0  2024-01-01      Laptop        2    557.0
1  2024-01-02      Tablet        5   1200.0
2  2024-01-03     Monitor        3    800.0
3  2024-01-04  Smartphone        1   1200.0
4  2024-01-05      Laptop        2  1855.84
  Item ID   Item Name In Stock Restock Date
0     101      Laptop      100   2024-04-02
1     102      Tablet       50   2024-01-15
2     103     Monitor       80   2024-03-28
3     104  Smartphone       45   2024-08-05
4     105  Smartwatch       90   2024-11-06
  Employee ID           Name        Department  Start Date
0           1  Alice Johnson             Sales  2022-01-06
1           2      Bob Smith           Support  2023-03-15
2           3   Carmen Reyes         Inventory  2022-11-20
3           4       Flounder             Sales  2009-03-05
4           5          Pluto  Customer Service  2024-03-20

### Step 7: Save and Close the Connection

In [53]:
conn.commit()
conn.close()

THE END

## Watch the Full Tutorial

ðŸ“º  Watch the tutorial for this co
ðŸ‘‰ Follw me here on Youtube: (https://www.youtube.com/@DataGeeksMyName)

---

## â˜• Support My Channel

If you enjoy this content and want to support more beginner tutorials:  
ðŸ‘‰